gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
playstore-serviceaccount.json
app/google-services.json
fastlane/report.xml
app/release/*
key.properties
